<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="authorization_bar">
    <main>
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a th:href="@{/}"
                   class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img class="bi me-2" width="46" height="28" aria-label="Bootstrap"
                         th:src="@{/img/cloud_icon.png}" alt="">
                </a>
                <div class="col-md-3 text-end">
                    <div class="nav m-auto" th:if="${#authentication == null}">
                        <form method="GET" th:action="@{/auth/login}">
                            <button type="submit" class="btn btn-outline-primary me-2">Login</button>
                        </form>
                        <form method="GET" th:action="@{/auth/registration}">
                            <button type="submit" class="btn btn-primary">Create Account</button>
                        </form>
                    </div>
                    <div class="nav m-auto" th:unless="${#authentication == null}">
                        <form method="GET" th:action="@{/}">
                            <button th:text="${#authentication.getPrincipal().getUsername()}"
                                    class="btn btn-warning me-2">
                                Login
                            </button>
                        </form>
                        <form method="POST" th:action="@{/logout}">
                            <button type="submit" class="btn btn-danger">Log out</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</header>
</body>
</html>