<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Storage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link th:href="@{/css/list-groups.css}" rel="stylesheet">
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
<div th:insert="auth/header :: authorization_bar"></div>
<div class="container-md">

    <!-- BreadCrumbs -->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadCrumb : ${breadCrumbs}">
                <a th:href="${breadCrumb.url}" th:unless="${breadCrumb.isCurrent}"
                   th:text="${breadCrumb.name}">Home</a>
                <span class="breadcrumb-item active" th:if="${breadCrumb.isCurrent}"
                      th:text="${breadCrumb.name}">Home</span>
        </ol>
    </nav>

    <!-- Search file or directory -->
    <div class="row justify-content-md-center mt-4">
        <div class="col-6 text-center">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter file or directory name"
                       aria-describedby="button-addon2">
                <button class="btn btn-warning btn-lg" type="button" id="button-addon2">Search</button>
            </div>
        </div>
    </div>

    <!-- Upload file -->
    <div class="row justify-content-center mt-2">
        <div class="col-auto">
            <h3>Upload file or directory</h3>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-6 text-center">
            <form class="input-group mt-4" th:action="@{/upload-file}" th:object="${fileDTO}"
                  enctype="multipart/form-data"
                  method="post">
                <input type="hidden" th:field="*{path}" id="path">
                <input type="file" th:field="*{file}" class="form-control" id="inputGroupFile04"
                       aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button class="btn btn-outline-success" type="submit" id="inputGroupFileAddon04">Upload file</button>
            </form>
        </div>
    </div>

    <!-- Upload directory -->
    <div class="row justify-content-md-center">
        <div class="col-6 text-center">
            <form class="input-group mt-4" th:action="@{/upload-directory}" th:object="${directoryDTO}"
                  enctype="multipart/form-data"
                  method="post">
                <input type="hidden" th:field="*{path}">
                <input type="file" th:field="*{files}" class="form-control"
                       aria-describedby="inputGroupFileAddon04" aria-label="Upload" webkitdirectory directory multiple>
                <button class="btn btn-outline-success" type="submit">Upload directory</button>
            </form>
        </div>
    </div>

    <!-- Mdkir Button -->
    <!--    <div class="row justify-content-md-center mt-4">-->
    <!--        <div class="d-grid gap-2 col-6 mx-auto">-->
    <!--            <button class="btn btn-primary btn-lg" type="submit" data-bs-toggle="modal" data-bs-target="#mkdirModal">-->
    <!--                Create new directory-->
    <!--            </button>-->
    <!--        </div>-->
    <!--    </div>-->


    <!-- List of files and directories -->
    <div class="row justify-content-center">
        <div class="col-auto mt-5">
            <h3>File Storage</h3>
        </div>
    </div>

    <ul class="list-group">
        <li th:each="file : ${listFiles}" th:object="${file}"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <a style="text-decoration: none" th:href="*{url}" th:text="*{displayName}">Name</a>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    . . .
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <button type="submit" class="dropdown-item" data-bs-toggle="modal"
                                th:attr="data-bs-target=${'#renameModal'+file.idOnPage}">
                            Rename file
                        </button>
                    </li>

                    <form th:action="@{/remove}" th:method="DELETE">
                        <li>
                            <input type="hidden" th:value="*{objectName}" name="objectName"/>

                            <button type="submit" class="dropdown-item">Delete</button>
                        </li>
                    </form>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" th:href="${file.url}">Open directory / Download file</a></li>
                </ul>
            </div>
        </li>
    </ul>

    <!-- Rename Modal -->
    <div th:each="file : ${listFiles}" th:object="${file}">
        <div class="modal fade" th:attr="id=${'renameModal'+ file.idOnPage}" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Rename file/directory</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/rename}" th:method="PATCH">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="displayName" class="col-form-label">Enter new name:</label>
                                <input type="text" th:value="*{displayName}" class="form-control"
                                       id="displayName" name="displayName">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="hidden" th:value="*{objectName}" name="objectName"/>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Mkdir Modal -->
    <!--    <div class="modal fade" id='mkdirModal'-->
    <!--         tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--        <div class="modal-dialog">-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-header">-->
    <!--                    <h5 class="modal-title" id="mkdirModalLabel">Create new directory</h5>-->
    <!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
    <!--                </div>-->
    <!--                <form th:action="@{/create-directory}" method="post">-->
    <!--                    <div class="modal-body">-->
    <!--                        <div class="mb-3">-->
    <!--                            <label for="displayName" class="col-form-label">Enter directory name:</label>-->
    <!--                            <input type="text" th:value="${directoryName}" class="form-control"-->
    <!--                                   id="directoryName" name="directoryName">-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="modal-footer">-->
    <!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
    <!--                        <input type="hidden" th:value="${pathToCurrentDirectory}" name="pathToCurrentDirectory"/>-->
    <!--                        <button type="submit" class="btn btn-primary">Save changes</button>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->

</div>
</body>
</html>



